<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://unpkg.com/@primer/css@20.7.1/dist/primer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <script defer src="/javascript/userMenu.js"></script>
    <noscript><div class="noscript-message">You need JavaScript enabled to use this website!</div></noscript>
    <%if (locals.title) {%>
        <title><%=title%></title>
    <%} else {%>
        <title>Cool Kids Campaign</title>
    <%}%>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="top-banner">
                <nav>
                    <ul id="icon-list">
                        <a href="https://www.facebook.com/CoolKidsFoundation/" target="_blank"><img class="icon" src="/images/facebook.png"></a>
                        <a href="https://twitter.com/coolkidsorg/" target="_blank"><img class="icon" src="/images/twitter.png"></a>
                        <a href="https://www.instagram.com/coolkidscampaign/" target="_blank"><img class="icon" src="/images/instagram.png"></a>
                        <a href="https://www.pinterest.com/coolkidsorg/" target="_blank"><img class="icon" src="/images/pintrest.png"></a>
                    </ul>
                    <ul id="nav-links">
                        <a href="https://coolkidspro.wpengine.com/donate-now/" target="_blank">Donate</a>
                        <a href="https://coolkidspro.wpengine.com/become-a-cool-kid/" target="_blank">Become a cool kids
                            family</a>
                    </ul>
                </nav>
            </div>
            <div class="logo-banner">
                <a href="/"><img id="logo" src="/images/logo.png"></a>
            </div>
            
            <div class="bottom-banner">
                <input type="checkbox"id="toggle"/>
                <label  for="toggle" id="hamburger-btn">MENU<i class="fa-solid fa-bars"></i></label>
                <label for="toggle" id="delete-btn">MENU<i class="fa-solid fa-xmark"></i></label>
                <nav>
                    <ul id="bottom-banner-links">
                        <%if (user) {%>
                            <a href="/programs">Programs</a>
                            <%if (role === 'admin') {%>
                                <a href="/programs/new">New Program</a>
                            <%}%>
                            <a href=""><img id="userIcon" src="/images/user.png"><i class="fa-solid fa-chevron-down"></i><i class="fa-solid fa-chevron-up"></i></a>
                        <%} else {%>
                            <a href="/users/login">Login</a>
                            <a href="/users/new">Sign Up</a>   
                        <%}%>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <%if (user) {%>
        <div class="drop-down-menu-container">
            <div class="profile">
                <h3><%=fullName%>
                    <button id="profile-delete-btn"><i class="fa-solid fa-xmark"></i></button></h3>
                <hr>
            </div>
            <div class="drop-drop-menu">
                <ul class="drop-down-links">
                    <li><img class="drop-down-icon" src="/images/profile.png"><a href="/users/profile/<%=id%>">My Profile</a></li>
                    <%if (role === 'admin') {%>
                        <li><img class="drop-down-icon" src="/images/tools.png"><a href="/users/admin">Admin Tools</a></li>
                    <%}%> 
                    <%if (role === 'patient') {%>
                        <li><img class="drop-down-icon" src="/images/inbox.png"><a href="/users/questions">Questions?</a></li>
                    <%}%>
                    <li><img class="drop-down-icon" src="/images/settings.png"><a href="/users/settings">Settings</a></li>
                    <li><img class="drop-down-icon" src="/images/log-out.png"><a href="/users/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    <%}%>
        
    <% if(errorMessages.length > 0) {%>
        <% errorMessages.forEach(message=>{%>
            <div class="centered">
                <div class="flash mt-3 flash-error">
                    <%=message%>
                    <button class="flash-close js-flash-close" type="button" aria-label="Close" onclick="this.parentElement.style.display = 'none';">
                      <svg class="octicon octicon-x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.72 3.72C3.86062 3.57955 4.05125 3.50066 4.25 3.50066C4.44875 3.50066 4.63937 3.57955 4.78 3.72L8 6.94L11.22 3.72C11.2887 3.64631 11.3715 3.58721 11.4635 3.54622C11.5555 3.50523 11.6548 3.48319 11.7555 3.48141C11.8562 3.47963 11.9562 3.49816 12.0496 3.53588C12.143 3.5736 12.2278 3.62974 12.299 3.70096C12.3703 3.77218 12.4264 3.85702 12.4641 3.9504C12.5018 4.04379 12.5204 4.14382 12.5186 4.24452C12.5168 4.34523 12.4948 4.44454 12.4538 4.53654C12.4128 4.62854 12.3537 4.71134 12.28 4.78L9.06 8L12.28 11.22C12.3537 11.2887 12.4128 11.3715 12.4538 11.4635C12.4948 11.5555 12.5168 11.6548 12.5186 11.7555C12.5204 11.8562 12.5018 11.9562 12.4641 12.0496C12.4264 12.143 12.3703 12.2278 12.299 12.299C12.2278 12.3703 12.143 12.4264 12.0496 12.4641C11.9562 12.5018 11.8562 12.5204 11.7555 12.5186C11.6548 12.5168 11.5555 12.4948 11.4635 12.4538C11.3715 12.4128 11.2887 12.3537 11.22 12.28L8 9.06L4.78 12.28C4.63782 12.4125 4.44977 12.4846 4.25547 12.4812C4.06117 12.4777 3.87579 12.399 3.73837 12.2616C3.60096 12.1242 3.52225 11.9388 3.51882 11.7445C3.51539 11.5502 3.58752 11.3622 3.72 11.22L6.94 8L3.72 4.78C3.57955 4.63938 3.50066 4.44875 3.50066 4.25C3.50066 4.05125 3.57955 3.86063 3.72 3.72Z"></path></svg>
                    </button>
                  </div>
            </div>
        <%});%>
    <%}%>

    <% if(successMessages.length > 0) {%>
        <% successMessages.forEach(message=>{%>
            <div class="centered">
                <div class="flash mt-3 green flash-success">
                    <%=message%>
                    <button class="flash-close js-flash-close" type="button" aria-label="Close" onclick="this.parentElement.style.display = 'none';">
                      <svg class="octicon octicon-x" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">  <path fill-rule="evenodd" clip-rule="evenodd" d="M3.72 3.72C3.86062 3.57955 4.05125 3.50066 4.25 3.50066C4.44875 3.50066 4.63937 3.57955 4.78 3.72L8 6.94L11.22 3.72C11.2887 3.64631 11.3715 3.58721 11.4635 3.54622C11.5555 3.50523 11.6548 3.48319 11.7555 3.48141C11.8562 3.47963 11.9562 3.49816 12.0496 3.53588C12.143 3.5736 12.2278 3.62974 12.299 3.70096C12.3703 3.77218 12.4264 3.85702 12.4641 3.9504C12.5018 4.04379 12.5204 4.14382 12.5186 4.24452C12.5168 4.34523 12.4948 4.44454 12.4538 4.53654C12.4128 4.62854 12.3537 4.71134 12.28 4.78L9.06 8L12.28 11.22C12.3537 11.2887 12.4128 11.3715 12.4538 11.4635C12.4948 11.5555 12.5168 11.6548 12.5186 11.7555C12.5204 11.8562 12.5018 11.9562 12.4641 12.0496C12.4264 12.143 12.3703 12.2278 12.299 12.299C12.2278 12.3703 12.143 12.4264 12.0496 12.4641C11.9562 12.5018 11.8562 12.5204 11.7555 12.5186C11.6548 12.5168 11.5555 12.4948 11.4635 12.4538C11.3715 12.4128 11.2887 12.3537 11.22 12.28L8 9.06L4.78 12.28C4.63782 12.4125 4.44977 12.4846 4.25547 12.4812C4.06117 12.4777 3.87579 12.399 3.73837 12.2616C3.60096 12.1242 3.52225 11.9388 3.51882 11.7445C3.51539 11.5502 3.58752 11.3622 3.72 11.22L6.94 8L3.72 4.78C3.57955 4.63938 3.50066 4.44875 3.50066 4.25C3.50066 4.05125 3.57955 3.86063 3.72 3.72Z"></path></svg>
                    </button>
                  </div>
            </div>
        <%});%>
    <%}%>
