<%- include('../partials/header.ejs')%>
    <main>
        <div class="centered">
            <div id="signup-container">
                <h2>Sign up for an account</h2>
                <form action="/users" method="POST">
    
                    <%if (formData) {%>
                        <label class="required" for="text">First Name:</label>
                        <input type="text" class="user-input" id="firstName" name="firstName" value="<%=formData.firstName%>" required>
    
                        <label class="required" for="text">Last Name:</label>
                        <input type="text" class="user-input" id="lastName" name="lastName" value="<%=formData.lastName%>" required>
    
                        <label class="required" for="email">Email:</label>
                        <input type="email" class="user-input" id="email" name="email" value="<%=formData.email%>" required>
                    <%} else {%>
                        <label class="required" for="text">First Name:</label>
                        <input type="text" class="user-input" id="firstName" name="firstName" required>
    
                        <label class="required" for="text">Last Name:</label>
                        <input type="text" class="user-input" id="lastName" name="lastName" required>
    
                        <label class="required" for="email">Email:</label>
                        <input type="email" class="user-input" id="email" name="email" required>
                    <%}%>
                
                    <input type="submit" value="Sign Up" class="submit float-right">
                </form>
                <div class="alt-account-container">
                    <h3>Already have an account?</h3>
                    <a href="/users/login">
                        <button type="button" class="submit">Log In</button>
                    </a>
                </div>
           </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>