<%- include('../partials/header.ejs')%>
    <main>
        <div class="centered">
            <div id="profile-container">
                <%if (adminView) {%>
                    <h2>Name: <%=user.firstName  + ' ' + user.lastName%></h2>
                    <h3>Account Status: <%=user.status.charAt(0).toUpperCase() + user.status.slice(1)%></h3>
                <%} else {%>
                    <h2>Hello, <%=user.firstName  + ' ' + user.lastName%></h2>
                <%}%>
                <h3>Username: <%=user.username%></h3>
                <h3>Email: <%=user.email%></h3>
                <%const dateFormat = {...DateTime.DATE_SHORT};
                createdAtDate = new Date(user.createdAt); 
                formattedDate = createdAtDate.toLocaleString(dateFormat);
                formattedDate = formattedDate.split(',')[0];%>
                <h3>Member since: <%=formattedDate%></h3>
                <h3>Role: <%=user.role.charAt(0).toUpperCase() + user.role.slice(1)%></h3>

                <%if (user.role === 'patient') {%>
                    <h2><%=user.firstName%>'s RSVP's%></h2>
                    <%if(rsvps.length) {
                        var date = new Date();
                        var year = date.toLocaleString("default", { year: "numeric" });
                        var month = date.toLocaleString("default", { month: "2-digit" });
                        var day = date.toLocaleString("default", { day: "2-digit" });
                        var currentDate = month + "/" + day + "/" + year;
                        console.log(currentDate);
                        const dateFormat = {...DateTime.DATE_SHORT};

                        var programs = [];
                        for (let i = 0; i < rsvps.length; i++) {
                            let object = rsvps[i].program;
                            object.response = rsvps[i].response;
                            programs.push(object);
                        }

                        let sortOrder = ['ongoing', 'upcoming', 'previous'];
                        function sortByName(a, b) {
                            return sortOrder.indexOf(a.group) - sortOrder.indexOf(b.group);
                        }
                        function sortByStartDate(a, b) {
                            a = a.startDate;
                            b = b.startDate;
                            if (a > b) {
                                return 1;
                            }
                            if (a < b) {
                                return -1;
                            }
                            return 0;
                        }
                        programs.sort(sortByStartDate);

                        for (let i = 0; i < programs.length; i++) {
                            let program = programs[i];
                            let startDate = new Date(program.startDate.replace('-', '/'));
                            let endDate = new Date(program.endDate.replace('-', '/'));
                            let dateNow = new Date().setHours(0, 0, 0, 0);
                            if (endDate < dateNow) {
                                program.group = 'previous';
                                console.log("1");
                            } else if (startDate <= dateNow && endDate >= dateNow) {
                                program.group = 'ongoing';
                                console.log("2");
                            } else if (startDate > dateNow) {
                                program.group = 'upcoming';
                                console.log("3");
                            }
                            console.log("start: " + startDate);
                            console.log("end: " + endDate);
                         
                        }
                        console.log(programs);
                        programs.sort(sortByName);
                        console.log("programsssssssssssssssssssssssssssssssssssssssssssss");
                        console.log("after: " + programs);%>
        
                        <table class="user-table rsvp-table">
                            <tr>
                                <th>Name</th>
                                <th>Going?</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                            
                        <%for (let i = 0; i < programs.length; i++) {
                            let program = programs[i];
                            const dateFormat = { 
                                ...DateTime.DATE_FULL, 
                                weekday: 'short',
                                month: 'short'
                            };
                            const startDate = DateTime.fromISO(program.startDate);
                            const formattedStartDate = startDate.toLocaleString(dateFormat);
            
                            const endDate = DateTime.fromISO(program.endDate);
                            const formattedEndDate = endDate.toLocaleString(dateFormat);

                            const startTime = DateTime.fromISO(program.startTime);
                            const formattedStartTime = startTime.toLocaleString(DateTime.TIME_SIMPLE);
                            
                            const endTime = DateTime.fromISO(program.endTime);
                            const formattedEndTime = endTime.toLocaleString(DateTime.TIME_SIMPLE);%>
                         
                            <tr>
                                <td><a href="/programs/<%=program._id%>"><%=program.name%></a></td>
                                <td class="capitalize"><%=program.response%></td>
                             
                                <td><%=formattedStartDate%>  @ <%=formattedStartTime%></td>
                                <td><%=formattedEndDate%>  @  <%=formattedEndTime%></td>
                            </tr>
                        <%}%>
                        </table>
                    <%} else {%>
                        <h3>No RSVP's found.</h3>
                    <%}
                }%>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>