<%- include('../partials/header.ejs')%>
<script src="/javascript/profileTabulator.js"></script>
<link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
    <main>
        <div class="centered">
            <div id="profile-container">
                <%if (adminView) {%>
                    <h2>Name: <%=user.firstName  + ' ' + user.lastName%></h2>
                    <h3>Account Status: <%=user.status.charAt(0).toUpperCase() + user.status.slice(1)%></h3>
                <%} else {%>
                    <h2>Hello, <%=user.firstName  + ' ' + user.lastName%></h2>
                <%}%>
                <h3>Username: <%=user.username%></h3>
                <h3>Email: <%=user.email%></h3>
                <%const dateFormat = {...DateTime.DATE_SHORT};
                createdAtDate = new Date(user.createdAt); 
                formattedDate = createdAtDate.toLocaleString(dateFormat);
                formattedDate = formattedDate.split(',')[0];%>
                <h3>Member Since: <%=formattedDate%></h3>
                <h3>Role: <%=user.role.charAt(0).toUpperCase() + user.role.slice(1)%></h3>
                
                <%if (user.role === 'patient') {%>
                    <h2 class="padding-header"><%=user.firstName%>'s RSVP's</h2>
                    <div id="rsvpsTable"></div>
                    <div id="errorMessage"></div>
                <%}%>
                
                
            </div>
        </div>
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>
    </main>
<%- include('../partials/footer.ejs')%>