<%- include('../partials/header.ejs')%>
    <main>
        <div class="centered">
            <div id="profile-container">
                <%if (adminView) {%>
                    <h2>Name: <%=user.firstName  + ' ' + user.lastName%></h2>
                    <h3>Account Status: <%=user.status.charAt(0).toUpperCase() + user.status.slice(1)%></h3>
                <%} else {%>
                    <h2>Hello, <%=user.firstName  + ' ' + user.lastName%></h2>
                <%}%>
                <h3>Username: <%=user.username%></h3>
                <h3>Email: <%=user.email%></h3>
                <%const dateFormat = {...DateTime.DATE_SHORT};
                createdAtDate = new Date(user.createdAt); 
                formattedDate = createdAtDate.toLocaleString(dateFormat);
                formattedDate = formattedDate.split(',')[0];%>
                <h3>Member since: <%=formattedDate%></h3>
                <h3>Role: <%=user.role.charAt(0).toUpperCase() + user.role.slice(1)%></h3>

                <%if (user.role === 'patient') {%>
                    <h2><%=user.firstName%>'s RSVP's%></h2>
                    <%if(rsvps.length) {
                        var date = new Date();
                        var year = date.toLocaleString("default", { year: "numeric" });
                        var month = date.toLocaleString("default", { month: "2-digit" });
                        var day = date.toLocaleString("default", { day: "2-digit" });
                        var currentDate = year + "-" + month + "-" + day;
                        console.log(currentDate);%>
                        <%const dateFormat = {...DateTime.DATE_SHORT};%>
                     
                        <table class="user-table rsvp-table">
                            <tr>
                                <th>Name</th>
                                <th>Going?</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                            </tr>
                        <%for (let i = 0; i < rsvps.length; i++) {
                            let rsvp = rsvps[i];
                            var startDate = new Date(rsvp.program.startDate); 
                            var formattedDate = startDate.toLocaleString(dateFormat);
                            formattedStartDate = formattedDate.split(',')[0];

                            var endDate = new Date(rsvp.program.endDate); 
                            var endDate = endDate.toLocaleString(dateFormat);
                            formattedEndDate = formattedDate.split(',')[0];

                            const startTime = DateTime.fromISO(rsvp.program.startTime);
                            const formattedStartTime = startTime.toLocaleString(DateTime.TIME_SIMPLE);

                            const endTime = DateTime.fromISO(rsvp.program.endTime);
                            const formattedEndTime = endTime.toLocaleString(DateTime.TIME_SIMPLE);%>
                            <tr>
                                <td><a href="/programs/<%=rsvp.program._id%>"><%=rsvp.program.name%></a></td>
                                <td class="capitalize"><%=rsvp.response%></td>
                             
                                <td><%=formattedStartDate%>  @ <%=formattedStartTime%></td>
                                <td><%=formattedEndDate%>  @  <%=formattedEndTime%></td>
                            </tr>
                        <%}%>
                        </table>
                    <%} else {%>
                        <h3>No RSVP's found.</h3>
                    <%}
                }%>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>