<%- include('../partials/header.ejs')%>
    <main>
        <div class="centered">
            <div id="login-container">
                <form class="margin-top-30px" action="/users/reset-password?_method=PUT" method="POST">
                    <h2>Reset password</h2>
                    <%if (formData) {%>
                        <label class="required" for="newPassword">New Password:</label>
                        <input type="password" class="user-input" id="newPassword" name="newPassword" value="<%=formData.newPassword%>" required>

                        <label class="required" for="confirmPassword">Confirm New Password:</label>
                        <input type="password" class="user-input" id="confirmPassword" name="confirmPassword" value="<%=formData.confirmPassword%>" required>
                    <%} else {%>
                        <label class="required" for="newPassword">New Password:</label>
                        <input type="password" class="user-input" id="newPassword" name="newPassword" required>

                        <label class="required" for="confirmPassword">Confirm New Password:</label>
                        <input type="password" class="user-input" id="confirmPassword" name="confirmPassword" required>
                    <%}%>

                    <input type="hidden" name="token" value="<%=token%>">
                    <input type="hidden" name="id" value="<%=id%>">
                    <input type="submit" value="Reset Password" class="submit float-right">
                </form>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>