<%- include('../partials/header.ejs')%>
    <main>
        <div class="centered">
            <div id="login-container">
                <form action="/users/settings/update-username?_method=PUT" method="POST">
                    <h2>Change username</h2>
                    <%if (usernameFormData) {%>
                        <label class="required" for="username">Username:</label>
                        <input type="text" class="user-input" id="username" name="username" value="<%=usernameFormData.username%>" required>
                    <%} else {%>
                        <label class="required" for="username">Username:</label>
                        <input type="text" class="user-input" id="username" name="username" value="<%=user.username%>" required>
                    <%}%>
                    <input type="submit" value="Update Username" id="submit">
                </form>

                <form id="passwordForm" action="/users/settings/update-password?_method=PUT" method="POST">
                    <h2>Change password</h2>
                    <%if (passwordFormData) {%>
                        <label class="required" for="password">Current Password:</label>
                        <input type="password" class="user-input" id="password" name="password" value="<%=passwordFormData.password%>" required>

                        <label class="required" for="newPassword">New Password:</label>
                        <input type="password" class="user-input" id="newPassword" name="newPassword" value="<%=passwordFormData.newPassword%>" required>

                        <label class="required" for="confirmPassword">Confirm New Password:</label>
                        <input type="password" class="user-input" id="confirmPassword" name="confirmPassword" value="<%=passwordFormData.confirmPassword%>" required>
                    <%} else {%>
                        <label class="required" for="password">Current Password:</label>
                        <input type="password" class="user-input" id="password" name="password" required>

                        <label class="required" for="newPassword">New Password:</label>
                        <input type="password" class="user-input" id="newPassword" name="newPassword" required>

                        <label class="required" for="confirmPassword">Confirm New Password:</label>
                        <input type="password" class="user-input" id="confirmPassword" name="confirmPassword" required>
                    <%}%>

                    <input type="submit" value="Update Password" id="submit">
                </form>

            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>