<%- include('../partials/header.ejs')%>
    <script defer src="/javascript/deleteConfirmation.js"></script>
    <main>
        <div class="centered">
            <div id="program-container">
                <%
                if (role === 'admin') {%>
                    <div id="buttons-container">
                        <form>
                            <button class="purple-button" type="submit" formmethod="GET" formaction="/programs/<%=program._id%>/edit">Edit Program</button>
                            <button class="purple-button" type="submit" formmethod="POST" formaction="/programs/<%=program._id%>/copy">Copy Program</button>
                            <button class="purple-button" type="submit" id="delete" formmethod="POST" formaction="/programs/<%=program._id%>?_method=DELETE">Delete Program</button>
                        </form>
                    </div>
                <%}%>

                <h1 class="program-header"><%=program.name%></h1>
                <h3 class="location">Location: <%=program.location%></h3>
                <%
                const dateFormat = { 
                    ...DateTime.DATE_FULL, 
                    weekday: 'short',
                    month: 'short'
                };
                const startDate = DateTime.fromISO(program.startDate);
                const formattedStartDate = startDate.toLocaleString(dateFormat);

                const endDate = DateTime.fromISO(program.endDate);
                const formattedEndDate = endDate.toLocaleString(dateFormat);

                
                const startTime = DateTime.fromISO(program.startTime);
                const formattedStartTime = startTime.toLocaleString(DateTime.TIME_SIMPLE);
                const endTime = DateTime.fromISO(program.endTime);
                const formattedEndTime = endTime.toLocaleString(DateTime.TIME_SIMPLE);%>
                %>
                <div class="start">
                    <h3>Start: <%=formattedStartDate%> @ <%=formattedStartTime%> (Eastern Time)</h3>
                </div>
                <div class="end">
                    <h3>End: <%=formattedEndDate%> @ <%=formattedEndTime%> (Eastern Time)</h3>
                </div>
                <%if (role === 'admin') {%>

                    <h1 class="rsvp-confirmation program-header padding-header">RSVPs</h1>
                    <%if (rsvps.length) {
                        let yesRsvps = rsvps.filter(rsvp => rsvp.response === 'yes');
                        let numNo = rsvps.length - yesRsvps.length;%>
                        <h3>RSVP Yes: <%=yesRsvps.length%></h3>
                        <h3>RSVP No: <%=numNo%></h3>

                        <div class="float-left">
                            <%if (yesRsvps.length) {%>
                                <table class="user-table rsvp-table">
                                    <tr>
                                        <th colspan="100%">Attending</th>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                    </tr>
                            
                                <%for (let i = 0; i < yesRsvps.length; i++) {%>
                                    <tr>
                                        <td>
                                            <%let yesUser = yesRsvps[i]
                                            console.log('YES USER: ' + yesUser);%>
                                            <a href="/users/profile/<%=yesUser.user._id%>"><%=yesUser.user.firstName + ' ' + yesUser.user.lastName%></a>
                                        </td>
                                        <td>
                                            <%=yesUser.user.email%>
                                        </td>
                                    </tr>
                                <%}%>
                                </table>
                            <%}%>
                            <h1 class="program-header padding-header">Description</h1>
                            <p><%=program.details%></p>
                        </div>
                    <%} else {%>
                        <h3>RSVP Yes: 0</h3>
                        <h3>RSVP No: 0</h3>
                    <%}
                }%>

                <%if (role === 'patient') {%>
                    <h1 class="program-header padding-header">RSVP</h1>

                    <%let myRsvp = rsvps.filter(rsvp => rsvp.user._id == user);
                    console.log('RSVPS: ' + rsvps);
                    console.log('MY RSVP: ' + myRsvp);
                    if (myRsvp.length) {%>
                        <h3>You have successfully responded with <%=myRsvp[0].response%>.</h3>
                    <%}%>

                    <form action="/programs/<%=program._id%>/rsvp" method="POST">
                        <button id="yes" value="yes" name="response" type="submit">Yes</button>
                        <button id="no" value="no" name="response" type="submit">No</button>
                    </form>
                <%}%>

                <%if (role === null) {%>
                    <h1 class="program-header padding-header">Log In to RSVP!</h1>
                    <a href="/users/login">
                        <button type="button" class="submit">Log In</button>
                    </a>
                    <a href="/users/new">
                        <button type="button" class="submit">Sign Up</button>
                    </a>
                <%}%>
                
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>