<%- include('../partials/header.ejs')%>
    <script defer src="/javascript/deleteConfirmation.js"></script>
    <script defer src="/javascript/copyLink.js"></script>
    <%if (role === 'admin') {%>
        <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>
        <script src="/javascript/rsvpTabulator.js"></script>
        <link href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator.min.css" rel="stylesheet">
    <%}%>
    <main>
        <div class="centered">
            <div id="program-container">
                <%if (role === 'admin') {%>
                    <div id="buttons-container">
                        <form>
                            <button class="purple-button" type="submit" formmethod="GET" formaction="/programs/<%=program._id%>/edit">Edit Program</button>
                            <button class="purple-button" type="submit" formmethod="POST" formaction="/programs/<%=program._id%>/copy">Copy Program</button>
                            <button class="purple-button" type="submit" id="delete" formmethod="POST" formaction="/programs/<%=program._id%>?_method=DELETE">Delete Program</button>
                            <button id="copyLink" class="purple-button" type="button">Copy Link</button>
                        </form>
                    </div>
                <%} else {%>
                    <div id="buttons-container">
                        <button id="copyLink" class="purple-button" type="button">Copy Link</button>
                    </div>
                <%}%>
                
                <h1 class="program-header"><%=program.name%></h1>
                <h3 class="location">Location: <%=program.location%></h3>
                <%
                const dateFormat = { 
                    ...DateTime.DATE_FULL, 
                    weekday: 'short',
                    month: 'short'
                };
                const startDate = DateTime.fromISO(program.startDate);
                const formattedStartDate = startDate.toLocaleString(dateFormat);

                const endDate = DateTime.fromISO(program.endDate);
                const formattedEndDate = endDate.toLocaleString(dateFormat);

                
                const startTime = DateTime.fromISO(program.startTime);
                const formattedStartTime = startTime.toLocaleString(DateTime.TIME_SIMPLE);
                const endTime = DateTime.fromISO(program.endTime);
                const formattedEndTime = endTime.toLocaleString(DateTime.TIME_SIMPLE);%>
                %>
                <div class="start">
                    <h3>Start: <%=formattedStartDate%> @ <%=formattedStartTime%> (Eastern Time)</h3>
                </div>
                <div class="end">
                    <h3>End: <%=formattedEndDate%> @ <%=formattedEndTime%> (Eastern Time)</h3>
                </div>
                
                <%if (role === 'admin') {%>

                    <h1 class="rsvp-confirmation program-header padding-header">RSVPs</h1>
                    <%if (rsvps.length) {
                        let yesRsvps = rsvps.filter(rsvp => rsvp.response === 'yes');
                        let numNo = rsvps.length - yesRsvps.length;%>
                        <h3>RSVP Yes: <%=yesRsvps.length%></h3>
                        <h3>RSVP No: <%=numNo%></h3>

                        <div class="float-left">
                            <%if (yesRsvps.length) {%>
                                <h1 class="program-header padding-header">Attending</h1>
                                <div id="rsvpsProgramTable"></div>
                            <%}%>
                            <h1 class="program-header padding-header">Description</h1>
                            <p><%=program.details%></p>
                        </div>
                    <%} else {%>
                        <h3>RSVP Yes: 0</h3>
                        <h3>RSVP No: 0</h3>
                    <%}
                }%>

                <%if (role === 'patient') {%>
                    <h1 class="program-header padding-header">RSVP</h1>

                    <%
                    let myRsvp = rsvps.filter(rsvp => rsvp.user._id == user);
                    console.log('RSVPS: ' + rsvps);
                    console.log('MY RSVP: ' + myRsvp);
                    if (myRsvp.length) {%>
                        <h3>You have successfully responded with <%=myRsvp[0].response%>.</h3>
                    <%}%>

                    <form action="/programs/<%=program._id%>/rsvp" method="POST">
                        <button id="yes" value="yes" name="response" type="submit">Yes</button>
                        <button id="no" value="no" name="response" type="submit">No</button>
                    </form>
                <%}%>

                <%if (role === null) {%>
                    <h1 class="program-header padding-header">Log In to RSVP!</h1>
                    <a href="/users/login">
                        <button type="button" class="submit">Log In</button>
                    </a>
                    <a href="/users/new">
                        <button type="button" class="submit">Sign Up</button>
                    </a>
                <%}%>
                
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>