<%- include('../partials/header.ejs')%>
    <main>
        <h2><%=program.name%></h2>
        <h2><%=program.location%></h2>
        <h2><%=program.startDate%></h2>
        <h2><%=program.startTime%></h2>
        <h2><%=program.endDate%></h2>
        <h2><%=program.endTime%></h2>
        <h2><%=program.details%></h2>
    </main>
<%- include('../partials/footer.ejs')%>